<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<script type="text/javascript" th:fragment="javascript">
	
		$(document).ready(function(){
			$("#buscar_subcategoria").autocomplete({
				
				source:function(request, response){
					$.ajax({
						url:"/buscarSubCategoria/"+ request.term,
						dataType:"json",
						data:{
							term: request.term
						},
						success: function(data){
							response($.map(data, function(item){
								return{
									value: item.id,
									label: item.name,									
								};
							
							}));
						},
						
					});
				},
				select: function(event, ui){
					$("#buscar_subcategoria").val(ui.item.label);
					$("#subcategoria").val(parseInt(ui.item.value));
					return false;	
				}
			});
		}
		);	
	</script>
</body>
</html>