<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="paginator">
<ul class="pagination">
 <li class="page-item">
 	<span class="page-link" th:if="${page.first}">Primera</span>
 	<a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
 </li>
 <li class="page-item">
 	<span class="page-link" th:if="${not page.hashPrevious}">Anterior</span>
 	<a class="page-link" th:if="${page.hashPrevious}" th:href="@{${page.url}(page=${page.paginaActual - 2})}">Anterior</a>
 </li>
 <li th:each="item : ${page.pageItems}" th:class="${item.blActual? 'page-item active': 'page-item'}">
 	<span class="page-link" th:if="${item.blActual}" th:text="${item.numberPage}"></span>
 	<a class="page-link" th:if="${not item.blActual}" th:href="@{${page.url}(page=${item.numberPage-1})}" th:text="${item.numberPage}"></a>
 </li>
 <li class="page-item">
	<span class="page-link" th:if="${not page.hashNext}">Siguiente</span>
 	<a class="page-link" th:if="${page.hashNext}" th:href="@{${page.url}(page=${page.paginaActual})}">Siguiente</a>
 </li>
 <li class="page-item">
 	<span class="page-link" th:if="${page.last}">Ultima</span>
 	<a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPages - 1})}">Ultima</a>
 </li>
</ul>
</nav>
</body>
</html>