<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container">
    <h2>Sub Categorias</h2>
    <a th:href="@{/newSubCategory}">Nueva</a>
    <table class="table table-hover">
     <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Valor Por Defecto</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
     </thead>
      <tr th:each="subcategory : ${listSubCategories}">     
        <th scope="row" th:text="${subcategory.id}"></th>
        <td th:text="${subcategory.name}"></td>
         <td th:text="${subcategory.category.name}"></td>
        <td th:text="${subcategory.defaultPrice}"></td>
        <td><a class = "btn btn-primary btn-xs" th:href="@{/newSubCategory/} + ${subcategory.id}" th:text="'Editar'"></a></td>
        <td><a class = "btn btn-danger btn-xs" th:href="@{/deleteSubCategory/} + ${subcategory.id}" th:text="'Eliminar'"></a></td>
      </tr>
    </table>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>